<% boisson.forEach(x=>{ %>
    <div class="menu-item">
        <img src= "assets/pizza/<%= x.nom %>"  alt="" class="menu-item-image">
        <div class="item-body">
            <h3 class="menu-item-heading">
                <span class="menu-item-name"><%= x.nom %></span>
                <span class="menu-item-price"><%= x.prix %>$</span>
            </h3>
            <div class="d-flex flex-row justify-content-centre">
                <form id="add_boisson_form" action="/menu/add_boisson_to_cart" method="post" style="width: 100%;">
                    <input type="hidden" name="nom_produit" value="<%= x.nom %>">
                    <button type="submit" class="add">+</button>
                </form>
            </div>
    
        </div>
    </div>
    <% }) %>
