<div class="menu-item">
    <img class="menu-item-image" src="/assets/pizza.jpg" alt="" />
    <div class="item-body">
        <h3 class="menu-item-heading">
            <span class="menu-item-name">napolitan</span>
            <span class="menu-item-price">18$</span>
        </h3>
        <p class="menu-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi recusandae quaerat</p>
        <div class="d-flex flex-row justify-content-between">
            <a class="add">+</a>
            <a class="personaliser">personaliser</a>
        </div>
    </div>
</div>

