<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>404 NOT FOUND</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700"
      rel="stylesheet"
    />

    <link
      href="/styles/404.css"
      rel="stylesheet"
    />

   
  </head>

  <body>
    <div id="main_cont">
      <div class="cont">
        <div class="txt_cont">
          <h1>Oops!</h1>
          <h2>404 - The Page can't be found</h2>
        </div>
        <a href="/">Go TO MENU</a>
        <a href="/livreur">Go TO LIVREUR</a>
      </div>
    </div>
  </body>
</html>
