body, html {
    height: 100%;
    overflow: auto;
}


select
{
    margin: 2% 0;
}


.title
{
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  position: absolute;
  top:150px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}

.title h1
{
    font-size: 60px;
    font-family: Helvetica;
}

.navbar
{
    background-color:#ec6402
}

.list-group-item 
{
    background-color: #ff6600af;
}

.sub-hero1
{
    background-color:#f86600;
    background-color: linear-gradient(rgba(5, 2, 1, 0.041), rgba(255, 94, 0, 0.048));
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);*/
}

.sub-hero2
{
    background-color:#f86600;
    position: relative;
    height: 300px;
}

.sub-hero2 img
{
    max-width: 100%;
    width: 100%;
    /*max-height: 400px;*/
    height: inherit;
    background-color: #f86600;
    object-fit: cover;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    
}


/*----------------------------------------------------------------------**/

#menu
{
    padding-top:  20px;    
}

#sub-menu
{
    height:600px;
    /*overflow-y: hidden;
    transition: height linear;
    transition-duration:2s ;*/
    
}

  
.navMenu a 
{
    color: #202020;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    
}
  
.navMenu a:hover 
{
    color: #f86600;
}


#show-less,#show-more
{
    min-width: fit-content;
    width: 20%;
    margin: 15px auto;
    background-color: #f86600;
    border-color: #ff5100;
    color: #ffffff;
}
  
.menu-sec
{
    /*position: absolute;*/
    height: fit-content;
    width: 100%;
    padding: 10px 5%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));/*repeat(4, 1fr);*/
    

}
.menu-item 
{
    height: 500px;
    max-height: 500px;
    background-color: rgb(245, 245, 245);
    width:100%;
    /*max-width:350px ;*/
    min-width: 300px;
    margin: 0 auto;
    border: solid #555454 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.menu-item-image
{
    border-radius: inherit;
    height:170px;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: .5em;
}


.menu-item-heading
{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name
{
    margin-right: 1.5em;
}

.item-body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem; 
    height: auto;
}

.add
{
    width: 100%;
    height: 35px;
    margin: 0  ;
    justify-self: center;
	background-color:#f86600;
	border-radius:28px;
	border:1px solid rgb(248, 102, 0);
	cursor:pointer;
	color:#ffffff;
	font-size:22px;
    padding-left: 10px;    
    transition: all 0.3s ease-out;
    
}


.add:hover {
	background-color:#f74008;
}

.add:active {
	background-color:#f74008;
}



.personaliser
{
  color:#fff;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  background: rgba(248, 103, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border-radius:28px;
  margin-bottom: 5px;
}
.item-body .personaliser:hover
{
    background: rgba(248, 102, 0,1);;

}
.item-body .personaliser:active
{
    background: rgba(248, 102,h 0,0.8);;

}


.menu-item .item-body >*
{
    margin: 0;

}


.hidden
{
    z-index: 0;
    display: none;
}


#boisson .menu-item
{
   height: 350px; 
}



/*---------------------------------------------------------------------------------------------------------*/

.cart-sec
{   position: absolute;
    top: 0;
    left: 0;
    right:0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    overflow: auto;
    
}


#cart-form
{
    width: 40%;
    height: auto;
    border:solid 3px #f86600;
    border-radius: 15px;
    background-color: #e0dede;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 3%;
    position: relative;
    padding: 2% 0.5% 1% 0.5%;
    z-index: 4;
}


#close-cart
{   
    position: absolute;
    top: 0;
    right: 0;
}


#close-cart:hover
{
    cursor: pointer;
}



#cart
{   
    position: fixed;
    
    bottom:10px;
    right: 2%;
    width: 100px;
    height: auto;


}


#cart img
{
    width:60px;
    height: auto;
    object-fit: cover;
}


#cart p
{
    position: absolute;
    top: 0;
    right:30%;
    width:30px;
    margin: 0;
    padding: 0 8%;
    background-color: red;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
}
#cart:active{
    cursor: pointer;
    border: solid 1px #7a7979a4 ;
    border-radius: 10px;
    background-color: #f86600;
    box-shadow: 0px 10px 13px -7px #f86600, 16px 26px 18px 3px #f86600;

}
#cart:hover{
    cursor: pointer;
    border: solid 1px #7a7979a4 ;
    border-radius: 10px;
    background-color: #f86600;
    box-shadow: 0px 10px 13px -7px #000000, 16px 26px 17px 3px rgba(0,0,0,0.35);
}


#cart-form h2
{
    width: fit-content;
    margin: auto;
    margin-bottom: 1%;
}

.cart-elem
{
    border: solid 0.5px white ;
    border-radius: 10px;
    margin-bottom: 2% ;
    padding: 1% ;
    background-color: rgb(190, 190, 190);
}

.cart-elem div p 
{
    border: solid whitesmoke 0.5px;
}

.cart-elem .del_space
{
    width: 100%;
    height: fit-content;
    
}
.delete-from-cart img
{
    width: 100%;
}
.delete-from-cart
{
    display: block;
    width: 5%;
    margin: auto;
    transition: all 0.3s ease-out;
}
.delete-from-cart:hover
{
    width: 8%;
    cursor: pointer;
    
}

#cart-form button[type="submit"]
{
    display: block;
    width: 20%;
    min-width: fit-content;
    margin: auto;
    padding: 1%;
    height: fit-content;
    margin-top: 3%;
    
}


/*-----------------------------------------------------------------------------------------------**/

#add_pizza_perso_form
{
    width: 90%;
    margin: 20px auto;
    background-color: rgb(245, 245, 245);
    border: solid 1px #555454;
    border-radius: 10px;
    padding: 1%;
    
}

#add_pizza_perso_form .ings
{
    width: 100%;
    margin-bottom: 20px;
    
}
#add_pizza_perso_form select
{   
    width: 40%;
    display: block;
    
}
#add_pizza_perso_form .add
{
    width: 100%;
    
}
#add_pizza_perso_form .pizza_ing
{
    width: 90%;
    margin: 1%;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}
#add_pizza_perso_form .pizza_ing h3
{
    width: fit-content;
    margin: 1% auto;
}


/*-----------------------------------------------------------------------------------*/
/*check box styles for add menu */
.add_menu_form,#add_pizza_perso_form
{
    background-color: rgb(245, 245, 245);
    width:60%;
    padding: 2%;
    padding-bottom: 1%;
    margin: 20px auto;
    /*max-width:350px ;*/
    min-width: 300px;
    border: solid #555454 1px;
    border-radius: 10px;
}

.add_menu_form p {
    width: fit-content;
    margin: auto;
}
.add_menu_form .add_cont ,#add_pizza_perso_form .add_cont
{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.add_menu_form .menu_selection,#add_pizza_perso_form .pizza_ing
{
    width: 90%;
    height: fit-content;
    border: solid 1px rgb(0, 0, 0); 
    border-radius: 15px;
    margin:2% auto ;
    padding: 1%;
    background-color: #cccccc;
}

.add_menu_form .menu_selection h3 ,#add_pizza_perso_form .pizza_ing h3
{
    width: fit-content;
    margin: auto;
}


.add_menu_form input[type="checkbox"],#add_pizza_perso_form input
{
    display: none;
}

.add_menu_form label ,#add_pizza_perso_form label
{
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    width: fit-content;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.add_menu_form label::before ,#add_pizza_perso_form label::before
{
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.add_menu_form label p,#add_pizza_perso_form label p
{
    width: 120px;
}

.add_menu_form label img, #add_pizza_perso_form label img
{
    height: 100px;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
  
.add_menu_form :checked+label ,#add_pizza_perso_form :checked+label
{
    border-color: #ddd;
}
  
.add_menu_form :checked+label::before ,#add_pizza_perso_form :checked+label::before 
{
    content: "✓";
    background-color: grey;
    transform: scale(1);
}
  
.add_menu_form :checked+label img ,#add_pizza_perso_form :checked+label img
{
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}


/*---------------------------------------------------------------------------*/
